name: baker_lf
channels:
 - defaults
 - conda-forge
 - pytorch
 - anaconda
dependencies:
# Python environment
 - python=3.10
# Dependency managers
 - pip
 - git
# Libraries requiring precompiling
 - cython
 - numpy #=1.9 May be needed for seisbench
 - scipy
# ObsPy Install
 - pytest
 - obspy
# EQcorrscan + ObsPlus
 - eqcorrscan
 - obsplus
# IDE
 - ipython
 - jupyterlab
# Visualization
 - matplotlib
 - pyqt
 - pyqtwebengine
# Run PIP installs of major tools
 - pip:
    - setuptools
    - pyrocko
    - git+https://github.com/pnsn/eqcorrscan_utils.git